@charset "UTF-8";

.form-group {
  width: 600px;
  margin: 0 auto;
  .form-item {
    display: flex;
    align-items: center;
    justify-content: center;
    .title,
    label {
      width: 100px;
      text-align: left;
    }
    &+.form-item {
      margin-top:10px;
    }
  }
  .chk-wrap {
    width:100%;
    display:inline-flex;

  }

}

.chk-wrap {
  input {
    width:auto;
  }
  label {
    margin:0 30px 0 10px;
  }
}