@charset "UTF-8";

[class^='ico-']{
  display:inline-block;
}

.ico-list {
  width:15px;height:15px;
  background:url('~@/assets/images/icon/ico-list.jpg') no-repeat;
  background-size:cover;
}

.ico-gallery {
  width:15px;height:15px;
  background: url('~@/assets/images/icon/ico-gallery.jpg') no-repeat;
  background-size:cover;
}

.ico-webzine {
  width:15px;height:15px;
  background: url('~@/assets/images/icon/ico-webzine.jpg') no-repeat;
  background-size:cover;
}